<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <!--
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
        -->

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.bm3k.abboe.logging.TvLogLayout"/>
        </encoder>
        <target>System.err</target>
    </appender>

    <logger name="org.bm3k.abboe" level="INFO" additivity="true">
        <appender-ref ref="STDERR"/>
    </logger>

    <root level="OFF">
    </root>
</configuration>